@import 'bootstrap';
//@import 'bootstrap-responsive';
//@import "font-awesome-compass";
//@import 'font-awesome';

/*layout */
.m-bot {
	margin-bottom: 20px;
}

header {
	background-color: #20aae5; /*blue */
	border-bottom: 0.25em solid #1894ca;
	color: #fff;
	padding: 20px 0;
	margin-bottom: 20px;
}

.center-block {
	float: none; /*necessary to center the element*/
}

.item-width {
	max-width: 570px;
}

footer {
	background-color: #20aae5;
	color: #fff;
	height: 60px;
	.container {
		p {
			margin: 15px 0;
		}
	}
}

/*functionality styling */

.checkbox {
	padding: 5px 0;
}

#the-input {
	margin-bottom: 20px;
}

.container {
	max-width: 960px;
}

.close-button {
	float: right;
	cursor: pointer;
}

.strikethrough {
	text-decoration: line-through;
}

/*misc items */
a {
	color: #000099; /*dark blue*/
}