@import 'bootstrap';
//@import 'bootstrap-responsive';
@import "font-awesome-compess";
@import "font-awesome";

.m-bot {
	margin-bottom: 20px;
}

header {
	background-color: #f5f5f5;
	padding: 20px 0;
	margin-bottom: 20px;
}

.center-block {
	float: none; /*necessary to center the element*/
}

.checkbox {
	padding: 5px 0;
}

#the-input {
	margin-bottom: 20px;
}

.container {
	max-width: 960px;
}